ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

ul li:nth-child(1) a:focus {
    border-left: solid;
    border-color: tomato;
}

ul li:nth-child(2) a:focus {
    border-left: solid;
    border-color: lightslategray;
}

ul li:nth-child(3) a:focus {
    border-left: solid;
    border-color: lightgreen;
}

a:focus {
    transition: border-left 0.5s linear 0.2s;
}
