/* --------------------------------------------------------------------
   Global
-------------------------------------------------------------------- */
 * {
 	box-sizing: border-box;
 	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 }

 html{
 	background: #fff url(./imagenes/fondos11.jpg);
 font-size: 16px;
 -webkit-font-smoothing: antialiased;
}
body {
	font-family: 'Inconsolata', monospace;
	background: #000 url('imagenes/fondos11.jpg')

}

}