html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, em, img, strong, sup, var, b, u, i, center, ol, ul, li, fieldset, form, label, article, aside, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: outside none none;
}
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after {
    content: none;
}
strong {
    font-weight: bold;
}
@font-face {
    font-family: "BebasNeueRegular";
    font-style: normal;
    font-weight: normal;
    src: url("BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("BebasNeue-webfont.woff") format("woff"), url("BebasNeue-webfont.ttf") format("truetype"), url("BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
}

html {
    background: #fff url("bg.png") repeat scroll 0 0;
    font-size: 16px;
}
body {
    color: #2e3a38;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 62.5%;
}
img {
    max-width: 100%;
}
h1 {
    font-family: BebasNeueRegular;
    font-size: 4.375em;
    line-height: 40px;
}
h1 em {
    color: #5b6e73;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.285714em;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
h2 {
    font-family: BebasNeueRegular;
    font-size: 3.125em;
}
h3 {
    font-family: BebasNeueRegular;
    font-size: 2.5em;
}
h4 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.25em;
}
a {
    color: #3d667e;
}
a:hover {
    background: #3d667e none repeat scroll 0 0;
    color: #fff;
}
/*Metemos un contenido en blanco después y le aplicamos clear both para que  añada todo dentro*/
.group::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.site {
    font-size: 1.6em;
    margin: 40px auto;
    max-width: 1300px;
}
header {
    margin-bottom: 20px;
}
.logo {
    float: left;
    margin-left: 1.59574%;
    text-align: center;
    width: 36.1702%;
}
nav {
    float: right;
    margin-right: 3.19149%;
    margin-top: 30px;
}
nav ul li {
    display: inline;
    font-size: 1.125em;
    font-weight: bold;
    margin: 0 40px 0 0;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    color: #3d667e;
    text-decoration: none;
}
nav ul li a:hover, nav ul li.active a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #213744;
}
.banner {
    background: rgba(0, 0, 0, 0) url("grovenediger-359483_1920.jpg") no-repeat scroll center;
    height: 320px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.banner-caption {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 30px;
    color: #fff;
    padding: 15px 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 42.5532%;
}
.main {
    line-height: 1.5;
}
.main p {
    padding-bottom: 15px;
}
.inner {
    padding: 0 20px;
}
.content {
    float: left;
    width: 64.8936%;
}
.content img {
    padding: 10px 0 15px;
}
.sidebar {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    float: right;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 31.9149%;
}
.sidebar-inner {
    padding-right: 5.55556%;
}
.sidebar h3 {
    padding-top: 5px;
    text-align: center;
}
.sidebar ul li {
    margin-bottom: 5px;
}
.sidebar ul li:last-child {
    margin-bottom: 0;
}
.sidebar ul li a {
    background: #eee none repeat scroll 0 0;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}
.sidebar ul li a:hover {
    background-color: #3d667e;
    color: #fff;
}
.sidebar ul .sidebar-inner-image a {
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 5px 5px 5px 70px;
}

@media (max-width: 320px) {
    .content, .sidebar, .logo, nav {
        float: none;
        display: inline;
    }
    nav {
        font-size: 0.7em;
        text-align: center;
    }
}

@media (max-width: 830px) {
    h1 {
        font-size: 3.125em;
        line-height: 0.6em;
    }
    nav {
        margin-top: 20px;
    }
    nav li {
        font-size: 0.875em;
    }
    .banner-caption {
        bottom: 0;
        width: 100%;
    }
}

@media (max-width: 720px) {
    h1 {
        font-size: 4.375em;
        line-height: 0.8em;
    }
    nav li {
        font-size: 1.125em;
    }
    .banner {
        height: 250px;
    }
    .content, .sidebar, .logo, nav {
        float: none;
        display: inline;
        text-align: center;
    }
}
