* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }
  a:active {
    outline: none; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 1rem; }

.heading-secondary {
  font-size: 3.8rem;
  letter-spacing: 1.7rem;
  color: rgba(255, 0, 0, 0);
  background: linear-gradient(to right, rgba(255, 0, 0, 0), #226b32);
  -webkit-background-clip: text; }
  .heading-secondary:hover {
    transform: skew(-20deg);
    text-shadow: 0 0 2px #6C827C; }

.heading-tertiary {
  text-align: center;
  font-size: 3rem;
  font-weight: bold; }

.card_side-back .heading-tertiary {
  margin-top: 20rem; }

.col-1-2 p:last-of-type {
  margin-bottom: 0; }

p {
  text-align: justify;
  margin: 2rem; }

.card_heading {
  text-align: right;
  font-size: 3rem;
  background: linear-gradient(to right, rgba(255, 0, 0, 0), #226b32);
  color: white;
  margin-top: 20rem;
  position: relative;
  font-weight: bold; }

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.text-center {
  text-align: center; }

.margin-bottom-small {
  margin-bottom: 1,5rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-big {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: #777;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 3rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-decoration: none; }

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: -1;
  border-radius: 100px;
  transition: all .4s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn-animated {
  animation: moveToTop .5s ease-in-out .75s;
  animation-fill-mode: backwards; }

.btn-text {
  outline: none;
  color: #226b32;
  font-size: 1.6rem; }
  .btn-text:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(211, 213, 111, 0.555);
    text-decoration: none; }
  .btn-text:active {
    transform: translateY(1px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none; }

img {
  width: 300px;
  height: 150px; }

.composition {
  position: relative; }
  .composition img:hover {
    z-index: 4;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .composition :nth-child(1) {
    position: absolute;
    left: 10px;
    top: 100px;
    z-index: 1; }
  .composition :nth-child(2) {
    position: absolute;
    left: 200px;
    top: 150px;
    z-index: 2; }
  .composition :nth-child(3) {
    position: absolute;
    left: 250px;
    top: 10px;
    z-index: 3; }

.card_picture {
  height: 25rem;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(211, 213, 111, 0.555), rgba(40, 180, 133, 0.685)), url(../img/mariquita.png);
  background-size: cover;
  background-blend-mode: lighten;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
  position: absolute; }

i {
  margin-top: 5px;
  width: 100%;
  text-align: center; }

.card {
  perspective: 1000px; }

.card:hover .card-side, .card.hover .card-side {
  transform: rotateY(180deg); }

.card, .card_side-front, .card_side-back {
  height: 50rem;
  margin-bottom: 10em; }

.card-side {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

.card_side-front, .card_side-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.card_side-front {
  z-index: 2;
  transform: rotateY(0deg); }

.card_side-back {
  width: 340px;
  transform: rotateY(180deg); }
  .card_side-back .btn {
    left: 30%; }

.logo {
  top: 0;
  left: 0;
  position: absolute; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(211, 213, 111, 0.555), rgba(40, 180, 133, 0.685)), url(../img/andrea-reiman-287012.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }

.header-primary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  backface-visibility: hidden; }

.main {
  display: block;
  font-size: 3.8rem;
  letter-spacing: 1.7rem;
  animation-name: moveToLeft;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out; }

.sub {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
  animation: moveToRight 1s ease; }

.section-about {
  margin-top: -20vh;
  padding-bottom: 40vh;
  padding-top: 20vh;
  background-color: rgba(197, 228, 154, 0.74); }

.feature-feactures {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(211, 213, 111, 0.555), rgba(40, 180, 133, 0.685)), url(../img/andrea-reiman-287012.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 30%, 100% 0, 100% 73%, 0% 100%);
  clip-path: polygon(0 30%, 100% 0, 100% 73%, 0% 100%);
  position: relative; }

.feature-box {
  height: inherit; }
  .feature-box .col-1-4 {
    margin-top: 20em; }

.row {
  width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col-1-2 {
    margin: auto;
    width: 540px;
    float: left; }
    .row .col-1-2:not(:last-child) {
      margin-right: 60px; }
  .row .col-1-3 {
    margin: auto;
    width: 340px;
    background-color: rgba(211, 213, 111, 0.555);
    float: left; }
    .row .col-1-3:not(:last-child) {
      margin-right: 60px; }
  .row .col-1-4 {
    width: 240px;
    background-color: rgba(211, 213, 111, 0.555);
    float: left; }
    .row .col-1-4:not(:last-child) {
      margin-right: 60px; }
  .row .col-2-4 {
    margin: auto;
    width: 480px;
    background-color: rgba(211, 213, 111, 0.555);
    float: left; }
    .row .col-2-4:not(:last-child) {
      margin-right: 60px; }
  .row .col-3-4 {
    margin: auto;
    width: 720px;
    background-color: rgba(211, 213, 111, 0.555);
    float: left; }
    .row .col-3-4:not(:last-child) {
      margin-right: 60px; }
  .row .col-2-3 {
    margin: auto;
    width: 680px;
    background-color: rgba(211, 213, 111, 0.555);
    float: left; }
    .row .col-2-3:not(:last-child) {
      margin-right: 60px; }
