.heading-secondary {
    font-size: 3.8rem;
    letter-spacing: 1.7rem;
    color: $transparente;
    background: linear-gradient(to right, $transparente, $verdeOscuro);
    -webkit-background-clip: text;
    &:hover {
    transform: skew(-20deg);
    text-shadow: 0 0 2px $violeta;
    }
}

.heading-tertiary {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.card_side-back {
  .heading-tertiary {
    margin-top: 20rem;
  }
}

.col-1-2 {
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  p {
    text-align: justify;
    margin: 2rem;
  }

.card_heading {
    text-align: right;
    font-size: 3rem;
    background: linear-gradient(to right, $transparente, $verdeOscuro);
    color: white;
    margin-top: 20rem;
    position: relative;
    font-weight: bold;
}