<%- include('cabecera'); %>
<% if (error) { %>
    <div class="alert alert-danger">
        <%= mensajeError %>
    </div>
<% } else { %>
    <h1>Ficha de contacto</h1>
    <li>Nombre: <% contacto.nombre %> </li>
    <li>Teléfono: <% contacto.telefono %> </li>
    <li>Edad: <% contacto.edad %> </li>

<% } %>
<%- include('pie'); %>