<%- include('cabecera'); %>
<h1>Listado de contactos</h1>
<%
if (contactos.length > 0)
{
%>
    <% contactos.forEach(contacto => { %>
        <li>contacto.nombre <a href="/contactos/<%=contacto.__id%>">Ver ficha</a></li>
    <% });
} else {
%>
<p>No se han encontrado contactos</p>
<% } %>
<%- include('pie'); %>