.logo {
  top: 0;
  left: 0;
  position: absolute;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, $amarillo, $verde), url(../img/andrea-reiman-287012.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.header-primary {
  color: $blanco;
  text-transform: uppercase;
  font-weight: 400;
  backface-visibility: hidden;
}

.main {
  display: block;
  font-size: 3.8rem;
  letter-spacing: 1.7rem;
  animation-name: moveToLeft;
  animation-duration: 1s;
  animation-delay: 1s; 
  animation-timing-function: ease-in-out;
}

.sub {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
  animation: moveToRight 1s ease;
}

.section-about {
  margin-top: -20vh;
  padding-bottom: 40vh;
  padding-top: 20vh;
  background-color: $verdeClaro;
}

.feature-feactures {
  height: 95vh;
  background-image: linear-gradient(to right bottom, $amarillo, $verde), url(../img/andrea-reiman-287012.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 30%, 100% 0, 100% 73%, 0% 100%);
  clip-path: polygon(0 30%, 100% 0, 100% 73%, 0% 100%);
  position: relative;
}

.feature-box {
  height: inherit;
  .col-1-4 {
    margin-top: 20em;
  }
}