#contenedor {
    width: 960px;
    margin: 0 auto;
}

#principal {
    width: 760px;
    float: left;
    background-color: #1DAF77;
}

#aside {
    width: 200px;
    float: right;
    background-color: #481191;
}

#pie {
    clear: both;
}

#cabecera, #pie {
    background-color: #FF4D4D;
}