* {
  font-family: "Raleway", sans-serif;
}


a:link   
{   
 text-decoration:none;
}   
h3 a:visited {
  color: black;
}

/* LOGIN */

#logo-login {
  position: absolute;
  left: 35%;
  height: 120px;
  width: auto;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.login {
  background-color: #e6e6e9;;
  position: absolute;
  top: 20%;
  left: 35%;
  padding: 110px;
}

.login input {
  margin-bottom: 10px;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* BOTON LOGIN GOOGLE */

.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.loginBtn--google {
  background: #DD4B39;
  border-radius: 30px;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}


.form-input {
  display: flex;
  justify-content: space-between;
}

#form-registrarse {
  margin-top: 20px;
}

#usuario-login input,
#password-login input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.submit,
#registrarse {
  margin-bottom: 20px;
  background: #9999A1;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

#registrarse {
  margin-top: 20px;
  text-align: center;
  line-height: 35px;
  padding: 0;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 0.25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top 0.25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

#form-registro {
  display: flex;
  background-color: red;
}

/* PÁGINA PRINCIPAL */
header,
.categorias {
  display: flex;
  justify-content: space-between;
}
.nav-usuario {
  margin: 0px;
  padding: 0px;
}

ul {
  overflow: auto;
  list-style-type: none;
}

li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

.categoria {
  border: none;
}

.categoria a {
  color: black;
}

.categoria.active {
  background-color: #e6e6e9;
  border-radius: 30px;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: #ccc;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li a:hover {
  color: #666;
}

li.active a {
  line-height: 25px;
  font-weight: bold;
  color: #333;
}

.busqueda {
  padding-top: 15px;
  height: 40px;
  display: flex;
  width: 500px;
}

#btnBuscar {
  outline: none;
  border-radius: 30px;
}

#input-busqueda {
  border-radius: 30px;
  margin-right: 5px;
  width: 100%;
  outline: none;
}

select#selector-fecha {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  color: #E6E6E9;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
  outline: none;
  color: #E6E6E9;
  background-image: url(http://i62.tinypic.com/15xvbd5.png),
    -webkit-linear-gradient(#66666E, #66666E 40%, #66666E);
  background-color: #9999a1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding-left: 15px;
}


.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#precio {
  left: 50%;
  float: right;
}

#btnComprar,
#btnInfo {
  width: 125px;
  height: 25px;
  border-radius: 30px;
  outline: none;
  background-color: black;
  color: white;
  float: right;
}

.card,
.card-img-top {
  border-radius: 5px;
  width: 500px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.card-img-top {
  height: 280px;
}

.card {
  margin: 10px;
  background-color: #e1e1e8;
}

#eventsContainer {
  margin: 20px;
}

.card-body,
.card-footer {
  margin: 5px;
}

.card-title {
  height: 22px;
}

/* DETALLES DE EVENTO */
#img-detalle {
  width: 1000px;
  height: 560px;
  border-right: .18em dashed black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#cardContainer-details {
  display: flex;
  border-radius: 10px;
  margin-bottom: 20px;
}

#title-details {
  text-align: left;
  margin-right: 25px;
  margin-top: 25px;
}
.card-details {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #e6e6e9;;
}

.card-body-details {
  width: 50%;
  text-align: justify;
}

/* animación pulso boton comprar */

@keyframes pulse {
	25% {
		transform: scale(1.1);
	}

	75% {
		transform: scale(.9);
	}
}

#btnComprar-details {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  outline: none;
  background-color: black;
  color: white;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

#btnComprar-details:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#btnMensaje-details {
  width: 150px;
  height: 30px;
  border-radius: 30px;
  padding: 0;
  outline: none;
  background-color: black;
  color: white;
  float: right;
  font-size: 15px;
  cursor: pointer;
}

#gestor {
  display: flex;
  justify-content: space-between;
}

/* animacion icono mensaje a gestor */
#btnMensaje-details .fa-envelope{
  transition: all .2s ease-in-out;
}
#btnMensaje-details .fa-envelope:hover {
  transform: scale(1.5);
}



/* PAGINA COMPRAR ENTRADA */
#card-compra {
  margin-top: 5%;
}

.modal-compra {
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.8);
	
	position: absolute;
	top: 0;
	left: 0;
	
	display: flex;
	
	animation: modal 1s 1s forwards;
	visibility: hidden;
  opacity: 0;
  
  z-index: +2;
}

.contenido {
	margin: auto;
	width: 40%;
	height: 40%;
	background: white;
	border-radius: 10px;
}

.contenido h2 {
  text-align: center;
}

#cerrar {
	display: none;
}

#cerrar + label {
	position: fixed;
	color: #BB3F30;
	font-size: 25px;
	z-index: 50;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	right: 150px;
	top: 150px;
	cursor: pointer;
	
	animation: modal 2s 3s forwards;
	visibility: hidden;
	opacity: 0;
}

#cerrar:checked + label, #cerrar:checked ~ .modal-compra {
	display: none;
}

@keyframes modal {
	100% {
		visibility: visible;
		opacity: 1;
	}
}

#usuario-login-compra, #password-login-compra {
  margin-bottom: 5px;
}

#usuario-login-compra input, #password-login-compra input {
  text-align: center;
  background: #e1e1e8;
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 36px;
  color: #66666e;
  font-size: 15px;
  outline: none;
}

#google-compra {
  display: block;
  width: 30%;
  margin: 0 auto;
  margin-top: 2%;
}

.form-input-compra {
  display: flex;
  justify-content: space-evenly;
}

.form-input-compra input {
  text-align: center;
  width: 30%;
  margin: 2%;
  height: 40px;
  font-size: 100%;
}

.submit-compra {
  width: 50%;
}

#main-compra {
  display: flex;
  justify-content: space-evenly;
}

.opciones-compra {
  width: 70%;
  height: 680px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#hint {
  margin: 0 auto;
  width: 70%;
  position: relative;
  left: 0;
  display: block;
  color: #66666e;
}

#div-descripcion, #div-pagar {
  width: 50%;
  margin: 3%;
}

#pagar-paypal {
  width: 30%;
  height: 50px;
}

.opciones-compra::after {
  content: "";
  border-radius: 30px;
  background: url('../img/kayne.jpg');
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


/* NUEVO EVENTO */
#form-nuevoEvento {
  display: block;
  background-color: #e1e1e8;
  width: 50%;
  margin: 0 auto;
  border-radius: 30px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f6;
  border-radius: 30px;
  left: 50%;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 3%;
  
}

.form-group h3 {
  width: 20%;
}

.form-group input, .form-group textarea {
  text-align: center;
  margin: 0 auto;
  margin-top: 2%;
  height: 30px;
  width: 50%;
}

.label-nuevo {
  padding-left: 2%;
}


/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #9999a1;
  position: relative;
  bottom: 0;
  width: 100%;
}

.idiomas {
  display: flex;
  justify-content: space-around;
  width: 10%;
}

#ingles, #espanyol {
  margin: 2px;
  width: 100%;
  background-color: #e6e6e9;
  border-radius: 30px;
  margin-top: 20%;
}

@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(8px); }
  33.3% {
    transform: translateX(-6px); }
  49.95% {
    transform: translateX(4px); }
  66.6% {
    transform: translateX(-2px); }
  83.25% {
    transform: translateX(1px); }
  100% {
    transform: translateX(0); } }

#espanyol:hover {
  background-image: url('..dd/img/bandera_españa.png');
  background-size: cover;
  opacity: 0.6;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.2 ease-in-out;
  animation-name: wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

#ingles:hover {
  background-image: url('../img/bandera_inglesa.png');
  background-size: cover;
  opacity: 0.6;
  color: black;
  font-weight: bold; 
  font-size: 20px;
  transition: all 0.2 ease-in-out;
  animation-name: wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

#footer-details {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9999a1;
  text-align: center;
}
