$blanco: #fff;
$gris: #777;
$amarillo:rgba(211, 213, 111, 0.555);
$verde: rgba(40, 180, 133, 0.685);
$verdeClaro: rgba(197, 228, 154, 0.74);
$verdeOscuro: rgb(34, 107, 50);
$blancoRoto: #eee;
$transparente: rgba(255,0,0,0);
$rojo: rgba(255,0,0,1);
$violeta: #6C827C;

$maxWidth: 1140px;
$widthRow: 114rem;
$marginBottomRow: 8rem;
$separacionHorizontal: 60px;

$font-size: 1.6rem;