.row {
    width: $widthRow;
    margin: 0 auto;
    &:not(:last-child) {
        margin-bottom: $marginBottomRow;
    }

    .col-1-2 {
        margin: auto;
        width: calculateWidth(1, 2);
        float: left;
        &:not(:last-child) {
            margin-right: $separacionHorizontal;
        }
    }
    .col-1-3 {
        margin: auto;
        width: calculateWidth(1, 3);
        background-color: $amarillo;
        float: left;
        &:not(:last-child) {
            margin-right: $separacionHorizontal;
        }
    }
    .col-1-4 {
        width: calculateWidth(1, 4);
        background-color: $amarillo;
        float: left;
        &:not(:last-child) {
            margin-right: $separacionHorizontal;
        }
    }
    .col-2-4 {
        margin: auto;
        width: calculateWidth(2, 4);
        background-color: $amarillo;
        float: left;
        &:not(:last-child) {
            margin-right: $separacionHorizontal;
        }
    }
    .col-3-4 {
        margin: auto;
        width: calculateWidth(3, 4);
        background-color: $amarillo;
        float: left;
        &:not(:last-child) {
            margin-right: $separacionHorizontal;
        }
    }
    .col-2-3 {
        margin: auto;
        width: calculateWidth(2, 3);
        background-color: $amarillo;
        float: left;
        &:not(:last-child) {
            margin-right: $separacionHorizontal;
        }
    }
}
