ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a:hover {
    background-color: blue;
    color: white;
}

a {
    transition: background-color 1s linear 0.2s, color 1s linear 0.2s;
}

li {
    float: left;
}

li a {
    display: block;
    background-color: yellow;
    color: black;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
}