@mixin familia($size) {
    @if $size == 12px {
        font-size: Arial, sans-serif;
    } @else if $size == 14px {
        font-size: Georgia, serif;
    } 
    @else {
        font-size: Helvetica, sans-serif;
    }
}

.cambio {
    @include familia(14px);
}