.tool-socket {
  background: url("socket.png") no-repeat; }

.tool-wrench {
  background: url("wrench.png") no-repeat; }

.tool-bolt {
  background: url("bolt.png") no-repeat; }

/*# sourceMappingURL=ejercicio5.css.map */
