@function cambiaFuente($size) {
    @if $size == 12px {
        @return Arial, sans-serif;
    } 
    @else {
        @return Helvetica, sans-serif;
    }
}

.cambio {
    font-size: cambiaFuente(14px);
}