<form class="mt-4" (ngSubmit)="addEvent()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="newEvent.title" placeholder="Enter name">
        <div class="invalid-feedback">Name is required and can only contain letters and spaces.</div>
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" name="date" [(ngModel)]="newEvent.date">
        <div class="invalid-feedback">Date is required.</div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3" [(ngModel)]="newEvent.description"></textarea>
        <div class="invalid-feedback">Description is required.</div>
    </div>
    <div class="form-group">
        <label for="price">Price (in €)</label>
        <input type="number" class="form-control" id="price" name="price" min="0.00" max="10000.00" step="0.01" [(ngModel)]="newEvent.price"
        />
        <div class="invalid-feedback">You must insert price in 0.00 format.</div>
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control" #fileImage (change)="changeImage(fileImage)">
        <div class="invalid-feedback">An image is required.</div>
    </div>
    <img [src]="newEvent.image" alt="" id="imgPreview" class="img-thumbnail">

    <button type="submit" class="btn btn-primary">Create</button>
</form>
<div id="eventsContainer">
    <div class="row">
        <div class="card col-6 mt-4" *ngFor="let event of events; let i = index">
            <img class="card-img-top" src={{event.image}} >
            <div class="card-body">
                <h4 class="card-title">{{event.title}}
                    <button class="btn btn-danger float-right" (click)="delete(i)">Delete</button>
                </h4>
                <p class="card-text" [innerText]="event.description"></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    {{event.date | date:'dd/MM/y'}}
                    <span class="float-right">{{event.price | currency:'EUR':'symbol'}}</span>
                </small>
            </div>
        </div>
    </div>
</div>
