#chat {
    height: 300px;
    overflow-y: auto;
    border: 1px solid black;
    margin-bottom: 20px;
}
li {
    list-style: none;
}
#texto {
    border-color: lightcoral;
}
#nick {
    margin: 2px;
    height: 15px;
}