.btn-a, .btn-b {
  background: #777;
  border: 1px solid #ccc;
  font-size: 1em;
  text-transform: uppercase; }

.btn-b {
  background: #ff0; }

.sidebar .btn-a {
  text-transform: lowercase; }

/*# sourceMappingURL=ejercicio4.css.map */
