<a href="event-details.html?id={{id}}"><img class="card-img-top" src="{{image}}"></a>
          <div class="card-body">
            <div class="float-left mr-4 text-center">
              <a href="profile?id={{creator.id}}"><img class="rounded-circle" style="width: 50px;" src="{{creatorAvatar}}" alt=""></a>
              <div>
                <small>{{creator.name}}</small>
              </div>
            </div>
            <h4 class="card-title">
              <a href="event-details.html?id={{id}}">{{title}}</a>
            </h4>
            <p class="card-text">{{description}}</p>
            <div>
                {{#if mine}}
                    <button class="btn btn-danger ml-3 float-right">Delete</button>
                {{/if}}
              <button class="btn btn-secondary float-right">Attend</button>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              {{date}}
              <span class="float-right">{{price}}€</span>
              <span class="float-right mr-3">{{distance}} km</span>
            </small>
          </div>