.btn {
    &:link, &:visited {
      text-decoration: none;
      text-transform: uppercase;
      background-color: $blanco;
      color: $gris;
      padding: 15px 40px;
      display: inline-block;
      border-radius: 3rem;
      transition: all .2s;
      position: relative;
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      text-decoration: none;
    }
    &:active {
      transform: translateY(1px);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      text-decoration: none;
    }
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $blanco;
      z-index: -1;
      border-radius: 100px;
      transition: all .4s;
    }
    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  
.btn-animated {
  animation: moveToTop .5s ease-in-out .75s;
  animation-fill-mode: backwards;
}

.btn-text {
  outline: none;
  color: $verdeOscuro;
  font-size: $font-size;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: $amarillo;
    text-decoration: none;
  }
  &:active {
    transform: translateY(1px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }
}
