.card {
    perspective: 1000px;
}
	.card:hover .card-side, .card.hover .card-side {
		transform: rotateY(180deg);
	}

.card, .card_side-front, .card_side-back {
    height: 50rem;
    margin-bottom: 10em;
}

.card-side {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.card_side-front, .card_side-back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.card_side-front {
	z-index: 2;
	transform: rotateY(0deg);
}

.card_side-back {
	width: 340px;
	transform: rotateY(180deg);
	.btn {
		left: 30%;
	}
}