img {
    width: 300px;
    height: 150px;
}

.composition {
    position: relative;
    img:hover {
        z-index: 4; 
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        
    }
    
    :nth-child(1) {
        position: absolute;
        left: 10px;
        top: 100px;
        z-index: 1;
    }
    :nth-child(2) {
        position: absolute;
        left: 200px;
        top: 150px;
        z-index: 2;
    }
    :nth-child(3) {
        position: absolute;
        left: 250px;
        top: 10px;
        z-index: 3;
    }
}

.card_picture {
    height: 25rem;
    width: 100%;
    background-image: linear-gradient(to right bottom, $amarillo, $verde), url(../img/mariquita.png);
    background-size: cover;
    background-blend-mode: lighten;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
    position: absolute;
}