img {
    z-index: -1;
    position: relative;
    width: 100%;
}
  
  figure {
    width: 500px;
    display: inline-block;
}
  
figcaption {
    background-color: grey;
    height: 1.2em;
    width: 100%;
    margin-top: -300px;
    float: right;
    text-align: center;
    color: white;
    z-index: 1;
    font-family: 'Open Sans', sans;
}

figure:hover figcaption {
      margin-top: -22px;
      transition: margin-top 1s linear 0.2s;
}