.btn {
    background-color: lightpink;
    top: 100px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 3;
    transition: background-color 1s;
    font: 16px arial, sans-serif;
    text-align: center;
}
.content {
    position: absolute;
    transition: top 1s;
}

.top {
    top: 0px;
}

.bottom {
    top: 100px;
}

.btn:hover {
    background-color: lightcoral;
}

span.content {
    display: block;
    width: 100%;
    text-align: center;
}

.btn:hover .top {top: -50px}
.btn:hover .bottom {top: 0px;}

.modal-overlay {
    background: HSLA(290, 33%, 47%, 0.90);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.modal-header {
    background: #EEE;
    padding: 20px 10px;
}

.modal, .modal-overlay {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

h1, h2, h3 {
    font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;
}
h3 {
    font-size: 200%;
}
.modal {
    background: #FFF;
    border-radius: 20px;
    left: 50px;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    top: 50px;
    width: 400px;
}
.modal-close {
    font-size: 200%;
    right: 15px;
    top: 0;
    position: absolute;
    transition: transform 4s;
}
.modal-close:hover {
    transform: rotate(360deg);
}