/* ejercicio 1 */
$colors: red blue yellow green
$authors: nick aimee dan drew

$combinacion: zip($authors, $colors)

@each $a in $combinacion
    .author-#{$a}

/* placeholder */
%sdn
    border: 1px solid #000
    Font-size: 1em
    text-transform: uppercase
.sdn-1
    @extend %sdn
    Background: #777
.sdn-2
    @extend %sdn
    background: #ff0
