/* ejercicio 1 */
/* placeholder */
.sdn-1, .sdn-2 {
  border: 1px solid #000;
  Font-size: 1em;
  text-transform: uppercase; }

.sdn-1 {
  Background: #777; }

.sdn-2 {
  background: #ff0; }

/*# sourceMappingURL=ejercicios.css.map */
