.demo {
  display: flex;
}

.demo .grid-item {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 10px;
  text-align: center;
}

.grid-item {
  margin-top: 20px;
}

@media (min-width: 500px) {
  .demo {
    flex-wrap: nowrap;
  }
}