.media {
  display: flex;
  flex-wrap: nowrap;
  background: #ffffff;
  border: 1px solid #b31717;
}

.media-meta {
  display: flex;
  margin-top: 20px; 
  background-color: lightblue;
  flex-grow: 1;
}

.media-content {
  padding: 20px;
}

.media:nth-child(even) .media-img{
  order: 1;
}

.media-img-container {
  padding: 20px 20px 0 20px;
}

.media-img-item {
  flex-basis: 40%;
}

.media-content {
  flex-basis: 60%;
}

.media-meta,
.media-title,
.media-description {
  margin: 0;
  padding: 0;
}

.media-description {
  margin-top: 4px;
}

.media-meta-item {
  list-style: none;
  margin: 0;
  flex-grow: 1;
}

.media-meta-item + .media-meta-item {
  margin-left: 20px;
}

.media-meta-label {
  font-size: 12px;
  text-transform: uppercase;
}


@media (max-width: 500px) {
  .media {
    flex-wrap: wrap;
  }
  .media-img-container {
    padding: 0;
  }
  .media:nth-child(even) .media-img{
    order: 0;
  }
}