<div id="formulario">
        <label for="nick">Nick: </label>
        <input type="text" id="nick">
        <input type="text" size="100" id="texto" placeholder="Esperando conexión..."/>&nbsp;
        <input onclick="enviar()" type="button" id="enviar" value="Enviar" />
</div>