<html>
<head>
    <meta charset="utf8">
    <link href="/css/estilos.css" rel="stylesheet"></link>
    <script src="/js/socket.io.js"></script>
    <script src="/js/logicaChat.js"></script>
</head>
<body>
    <h1>Chat</h1>
    <div id="chat"></div>
    <%- include('form'); %>
</body>
</html>