<img class="card-img-top" src="{{image}}">
<div class="card-body">
<h4 class="card-title">{{name}}
    <button class="btn btn-danger float-right">Delete</button>
</h4>
<p class="card-text">{{description}}</p>
</div>
<div class="card-footer">
<small class="text-muted">
        {{date}}
        <span class="float-right">{{price}}€</span>
    </small>
</div>
