html {
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

header {
    background-color: lightcoral;
}

footer {
    background-color: pink;
}
h1, p {
    margin: 0px;
}

@media (min-width: 320px) {
    .pie-derecha {
        display: none;
    }
    .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 84.635416667%;
    }
    header, footer {
        clear: both;
    }
    article {
        width: 45%;
        padding: 5px;
        float: left;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 93.75em;
    }
    article {
        width: 30%;
        float: left;
        height: 100px;
    }
    .pie-derecha {
        display: block;
        width: 60%;
        float: right;
        background-color: rgb(201, 119, 134);
    }
    .pie-izquierda {
        width: 40%;
        float: left;
        background-color: pink;
    }
}