<!doctype html>
<html>
    <head>
        <meta charset="utf8">
        <link href="/public/css/estilos.css" rel="stylesheet">
        <link href="/public/css/bootstrap.min.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script type="text/javascript" src="/public/js/jquery.min.js"></script>
        <script type="text/javascript" src="/public/js/app.js"></script>
    </head>
    <header>
      <h1 class="text-center">Inmuebles</h1>
    </header>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/inmuebles">Inmuebles</a>
  <a class="nav-link" href="/nuevo_inmueble">Nuevo inmueble</a>
  <form class="form-inline" action="/inmuebles/precio/superficie/habitaciones" method="GET">
    <div class="form-input">
      <label for="precio">Precio max:</label>
      <input type="number" class="form-control ml-2" name="precio">
    </div>
    <div class="form-input">
      <label for="superficie">Superficie min:</label>
      <input type="number" class="form-control ml-2" name="superficie">
    </div>
    <div class="form-input">
      <label for="habitaciones">Habitaciones min:</label>
      <input type="number" class="form-control ml-2" name="habitaciones">
    </div>
    <button type="submit" class="btn btn-primary ml-2">Filtrar</button>
  </form>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tipos de inmueble
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/inmuebles/tipo/5a7c408322a4f56d707c312c">Piso</a>
          <a class="dropdown-item" href="/inmuebles/tipo/5a7c408322a4f56d707c312d">Bungalow</a>
          <a class="dropdown-item" href="/inmuebles/tipo/5a7c408322a4f56d707c312e">Ático</a>
          <a class="dropdown-item" href="/inmuebles/tipo/5a7c408322a4f56d707c312f">Chalet</a>
          <a class="dropdown-item" href="/inmuebles/tipo/5a7c408322a4f56d707c3130">Planta baja</a>
        </div>
  </div>
</nav>