<%- include('cabecera'); %>

<h1>Formulario de alta de nuevo contacto</h1>

<div class="container">
<form action="/inmuebles" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" minlenght=10 placeholder="Descripción..." required/>
    </div>
    <div class="form-group">
            <label for="tipo">Tipo:</label>
            <select class="custom-select" name="tipo" required>
                <option value="piso">Piso</option>
                <option value="bungalow">Bungalow</option>
                <option value="atico">Ático</option>
                <option value="chalet">Chalet</option>
                <option value="plantaBaja">Planta baja</option>
            </select>
    </div>
    <div class="form-group">
            <label for="numero_habitaciones">Número de habitaciones:</label>
            <input type="number" class="form-control" id="numero_habitaciones" name="numero_habitaciones" required min=1 />
    </div>
    <div class="form-group">
            <label for="superficie">Superficie (metros cuadrados):</label>
            <input type="number" class="form-control" id="superficie" name="superficie" required min=25 />
    </div>
    <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" class="form-control" id="precio" name="precio" required min=10000 />
    </div>
    <div class="form-group">
        <div class="custom-file">
        <label class="custom-file-label" for="imagen">Elegir imagen</label>
        <input type="file" class="custom-file-input" name="imagen">
  </div>
    </div>

    <button type="submit" value="Submit" class="btn btn-primary">Enviar</button>
</form>
</div>

<%- include('pie'); %>