#ej1 {
  margin: 5px;
  width: 600px;
  height: 600px;
  background-image: url("genji.jpg");
  background-size: 600px 600px;
}

#ej1 img {
  position: absolute;
  width: 600px;
  height: 600px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#ej1 img:hover {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#ej2 {
  margin: 5px;
  width: 600px;
  height: 600px;
  position:relative;
}
  
#ej2 img {
  position:absolute;
  left:0;
  transition: opacity 1s ease-in-out;
}

.bottom, .top {
  width: 600px;
  height: 600px;
}

#ej2 img.top:hover {
  opacity:0;
}

#ej3 {
  margin: 5px;
  width: 600px;
  height: 600px;
  background-image: url("tracer.jpg");
  background-size: 600px 600px;
  transition: background-image 1s ease-in-out;
}

#ej3:hover {
  background-image: url("genji.jpg");
}