img{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}
.prueba{
    border:1px solid #d1eda6;
    display: flex;
}
.ultimo{
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    -o-order: 1;
    order: 1;
}
    