nav {
    display: flex;
    justify-content: center;
}

a {
    border:1px solid;
    text-decoration: none; 
}

.nav-link {
    margin: 0 20px;
}
.nav-brand {
/*text-indent: -9999px;*/
}
.nav-brand img {
    width: 50px;
    height: 50px;
}
