/* Wobble Horizontal */
@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(8px); }
  33.3% {
    transform: translateX(-6px); }
  49.95% {
    transform: translateX(4px); }
  66.6% {
    transform: translateX(-2px); }
  83.25% {
    transform: translateX(1px); }
  100% {
    transform: translateX(0); } }
.wobble-horizontal {
  display: inline-block; }
  .wobble-horizontal:hover {
    animation-name: wobble-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1; }

/* ejercicio 1 */
.factory {
  background: #fff;
  margin-right: 20px;
  width: 580px; }

.highrise {
  background: #797979;
  margin-right: 20px;
  width: 280px; }

/* ejercicio 2, 3 */
.sign {
  font-size: 3.75em;
  font-weight: bold;
  padding: 20px 40px; }
  .sign span {
    font-size: 1.875em; }

/* ejercicio 4 */
.sign {
  font-family: "sans-serif"; }

/* ejercicio 5 */
.sign {
  font-size: 3.75em;
  font-weight: bold;
  padding: 20px 40px; }
  .sign span {
    font-size: 2em; }

/* ejercicio 6 */
.factory {
  background: #fff;
  width: 62.5%; }

.highrise {
  background: #797979;
  width: 31.25%; }

/* ejercicio 7 */
.modal {
  background: rgba(121, 121, 121, 0.75);
  border: 1px solid #797979;
  padding: 20px; }

/* ejercicio 8 */
a:hover {
  color: #5dbad4;
  text-decoration: underline; }

/* ejercicio 9 */
a:active {
  color: #335a65; }

/* ejercicio 10 */
a:hover {
  color: #cf684b; }

/*# sourceMappingURL=ejercicio1.css.map */
