/* Wobble Horizontal */
@keyframes wobble-horizontal {
	16.65% {
		transform: translateX(8px);
	}

	33.3% {
		transform: translateX(-6px);
	}

	49.95% {
		transform: translateX(4px);
	}

	66.6% {
		transform: translateX(-2px);
	}

	83.25% {
		transform: translateX(1px);
	}

	100% {
		transform: translateX(0);
	}
}

.wobble-horizontal {
	display: inline-block;

	&:hover {
		animation-name: wobble-horizontal;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
	}
}

/* ejercicio 1 */

$gutter: 20px;
.factory {
  background: #fff;
  margin-right: $gutter;
  width: 600px - $gutter;
}
.highrise {
  background: #797979;
  margin-right: $gutter;
  width: 300px - $gutter;
}

/* ejercicio 2, 3 */

$size: 3.75em;

.sign {
  font-size: $size;
  font-weight: bold;
  padding: 20px 40px;
  span {
    font-size: $size / 2;
  }
}

/* ejercicio 4 */
$theme: modern;
$font: "serif";
@if $theme == modern {
  $font: "sans-" + $font;
}
.sign {
  font-family: $font;
}

/* ejercicio 5 */
$size: 3.75em;
.sign {
  font-size: 3.75em;
  font-weight: bold;
  padding: 20px 40px;
  span {
    font-size: round($size / 2);
  }
}

/* ejercicio 6 */
$context: 960px;
.factory {
  background: #fff;
  width: percentage(600px / $context);
}
.highrise {
  background: #797979;
  width: percentage(300px / $context);
}

/* ejercicio 7 */
$color-base: #797979;

.modal {
	background: rgba($color-base, 0.75);
	border: 1px solid $color-base;
	padding: 20px;
}

/* ejercicio 8 */
$color-link: #3097b4;

a:hover {
	color: lighten($color-link, 15%);
	text-decoration: underline;
}

/* ejercicio 9 */
$color-oscuro:  darken($color-link, 15%);

a:active {
	color: desaturate($color-oscuro	, 25%);
}

/* ejercicio 10 */
a:hover {
	color: invert($color-link);
}